body {
    height: 200px;
    background: beige;
}

.dot {
    height: 8px;
    width: 8px;
    border-radius: 4px; /* rounds corners */
    background: blue;
    position: absolute;
}
.greenDot {
    height: 6px;
    width: 6px;
    border-radius: 3px; /* rounds corners */
    background: lime;
    position: absolute;
}